beautifulsoup4==4.12.3
blinker==1.8.2
click==8.1.7
flask==3.0.3
greenlet==3.0.3
html2text==2024.2.26
importlib-metadata==8.2.0
itsdangerous==2.2.0
jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
playwright==1.46.0
pyee==11.1.0
soupsieve==2.6
typing-extensions==4.12.2
werkzeug==3.0.3
zipp==3.20.0
